<div class="container-user">
  <% users.each do |user| %>
    <div class ="user-item">


        <div><%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no-image-user.jpg", size: "100×100", class:"mb-3 rounded-circle image-user" %></div>
        <div><%= user.name %></div>
        <div><%= link_to 'Show', user_path(user), class: "user_#{user.id}" %></div>

    </div>
  <% end %>
</div>