<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-md-2'>
      <h2>User info</h2>
      <%= render 'info', user: @user %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class='col-md-10 offset-md-1'>
      <h2>Shops</h2>
      <%= render 'shops/index',shops: @shops %>
    </div>
  </div>
</div>