<div class ="container mt-3 mb-3">
  <%= render 'searchs/form'%>
</div>
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'info', user: @user %>

    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Shops</h2>
      <%= render 'shops/index',shops: @shops %>
    </div>
  </div>
</div>