<!--<div class="field">-->
<!--  <#%= form_for ,prefecture,method: :post do |f| %>-->
<!--    <#%= f.label :地域選択 %><br>-->
<!--    <#%= f.select :name, Prefecture.names.keys, {prompt: '選択してください'}, class: 'form-control btn btn-info' %>-->
<!--  <#% end %>-->
<!--</div>-->