<% if @model == 'user' %>
  <h3>【Usersモデルの検索結果】検索ワード：<%= @content %></h3>
  <%= render 'users/index', users: @records %>
<% else %>
  <h3>【Shopsモデルの検索結果】検索ワード：<%= @content %></h3>
  <%= render 'shops/index', shops: @records %>
<% end %>


<!--<#% if @search_shops %>-->
<!--  <#%= render partial: 'shops/index', shops: @search_shops %>-->
<!--<#% else %>-->
<!--  <#%= render partial: 'shop/index', shops: @shops %>-->
<!--<#% end %>-->